* {
  background-color: black;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.home-page {
  position: relative;
  text-align: center;
  min-height: 100vh; /* Changed height to min-height for responsiveness */
}

.background-image {
  width: 70%;
  height: auto;
  max-width: 100%; /* Ensure image doesn't overflow container */
}

.navbar {
  position: absolute;
  top: 0;
  left: 20%;
  width: 70%;
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
  background: transparent; /* Added some transparency for readability */
  color: white;
}

.navbar-left {
  font-size: 24px; /* Adjusted font size for smaller screens */
  font-weight: bold;
  background-color: transparent;
}

.navbar-right button {
  padding: 10px 15px; /* Adjusted button padding for smaller screens */
  font-size: 14px; /* Adjusted font size for smaller screens */
  color: white;
  background-color: transparent;
  border-color: aliceblue;
}

.center-content {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
  background-color: transparent;
}

.center-content h1 {
  font-size: 32px; /* Adjusted font size for smaller screens */
  background-color: transparent;
}

.footer {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  color: #789;
}

.main-button {
  padding: 10px 20px;
  font-size: 16px;
  background: transparent;
  border: 2px solid white;
  color: white;
  cursor: pointer;
}

/* Media Queries for responsiveness */
@media screen and (max-width: 768px) {
  .background-image {
    width: 90%;
    height: 70vh;
    max-width: 100%; /* Ensure image doesn't overflow container */
  }
  .navbar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    background: transparent; /* Added some transparency for readability */
    color: white;
  }
  .navbar-left {
    font-size: 18px;
  }
  
  .navbar-right button {
    align-self:flex-end;
    padding: 8px 12px;
    font-size: 12px;
  }
  
  .center-content{
    top:45%;
    width: 100%;
  }
  .center-content h1 {
    font-size: 16px;
    
  }

  .main-button {
    padding: 6px 14px;
    font-size: 12px;
    background: transparent;
    border: 2px solid white;
    color: white;
    cursor: pointer;
  }

  .footer{
    width: 100%;
    font-size: 12px;
  }
}
